    *{
        margin: 0;
        padding: 0;
        max-width: 1440px;
        min-width: 375px;
        color: hsl(243, 87%, 12%);;
    }
    body{
        font-family: Open Sans, sans-serif ;
        font-weight: 400;
    }  
    a{
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: Raleway;
    }
    .container{
        max-width: 1300px;
        margin: 0 auto;
    }
    .nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 50px 0 50px 0;
        font-family: Raleway;
    }
    .nav__logo{
        
    }
    .nav__navber{

    }
    .navbar__item{
        margin: 20px;
    }

    /* Intro */



    .intro{
        display: grid;
        grid-template-columns: 650px 650px;
        margin-bottom: 100px;
    }
    .intro__header{
        text-align: left;
        width: 500px;
        margin-top: 100px;
    }
    .intro__header h1{
        margin-bottom: 20px;
        line-height: 1.5;
        
    }
    .intro__header_btn{
        color: white;
        padding: 10px 40px;
        border-radius: 5px;
        background-color: hsl(224, 93%, 58%);
        font-family: Raleway;
        
    }
    .intro__header_input{
        padding: 10px  0px;
        font-size: 15px;
        border: 1px solid black;
    }

    /* section */

    .section{
        background: hsl(240, 75%, 98%);
        margin-top: -5px;
    }
    .section__header h1{
        margin-bottom: 20px;
        line-height: 1.5;
    }
    .section__header p{
        margin: 15px 0;
    }
    .section__header a{
        color:rgba(82, 163, 0, 0.897);
    }
    .section__header img{

    }
    .section__header_link{
        display: flexbox;

        width: 80px;
        color:rgba(82, 163, 0, 0.897);
        border-bottom: rgba(82, 163, 0, 0.897) 2px solid;
        
    }
    
    .section__box{
        background-color: white;
        border-radius: 5px;
        box-shadow: black;
    }
